<h1> Hello there! </h1>

<form action="/info" method="post">

  <div>
    <lable for "name">
      What is your name? <br>
      <input type="text" name="name"> <br>
    </lable>
  </div>

  <div>
    <lable for "date">
      When is your birthday? <br>
      <input type="date" name="bday"> <br>
      <input type="submit" value='go'>
    </lable>
  </div>
</form>
